USE [master]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 16/06/2023 18:22:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrescribedTests]    Script Date: 16/06/2023 18:22:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescribedTests](
	[PrescribedTestId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[RequestId] [int] NOT NULL,
 CONSTRAINT [PK_PrescribedTests] PRIMARY KEY CLUSTERED 
(
	[PrescribedTestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 16/06/2023 18:22:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[AccessNumber] [nvarchar](max) NULL,
	[PatientId] [int] NOT NULL,
 CONSTRAINT [PK_Requests] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientId], [Name], [FirstName]) VALUES (1, N'f9871856-ce36-4012-85d9-f408b9422496', N'072642b8-98f1-4ba4-b4bc-ad976b4300a2')
INSERT [dbo].[Patients] ([PatientId], [Name], [FirstName]) VALUES (2, N'49bdbfee-a4a3-4535-b34a-3b9253b6acf7', N'dc26a977-09e6-4026-84c8-31c39cd7b3fa')
INSERT [dbo].[Patients] ([PatientId], [Name], [FirstName]) VALUES (3, N'63089a7f-c19b-429b-9709-c372ca7bd262', N'1dbbf36e-f90d-4633-b574-cffed0bdef70')
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[PrescribedTests] ON 

INSERT [dbo].[PrescribedTests] ([PrescribedTestId], [Code], [RequestId]) VALUES (1, N'811cae9e-c45c-411b-9525-bdd4e396208e', 1)
INSERT [dbo].[PrescribedTests] ([PrescribedTestId], [Code], [RequestId]) VALUES (2, N'e96be7d8-743f-4452-b57d-8192a1c388ad', 1)
INSERT [dbo].[PrescribedTests] ([PrescribedTestId], [Code], [RequestId]) VALUES (3, N'af7dc1b0-342c-4ae6-99be-890d1fe60ab4', 1)
GO
SET IDENTITY_INSERT [dbo].[PrescribedTests] OFF
GO
SET IDENTITY_INSERT [dbo].[Requests] ON 

INSERT [dbo].[Requests] ([RequestId], [AccessNumber], [PatientId]) VALUES (1, N'73a5a7b6-2d75-41cd-9dc3-38fc0b7d26e4', 1)
INSERT [dbo].[Requests] ([RequestId], [AccessNumber], [PatientId]) VALUES (2, N'e9c11387-5a85-4749-ae8a-058758bb6579', 1)
INSERT [dbo].[Requests] ([RequestId], [AccessNumber], [PatientId]) VALUES (3, N'7cd8dcac-dbc1-46c3-b62a-3852c341e739', 1)
GO
SET IDENTITY_INSERT [dbo].[Requests] OFF
GO
ALTER TABLE [dbo].[PrescribedTests]  WITH CHECK ADD  CONSTRAINT [FK_PrescribedTests_Requests_RequestId] FOREIGN KEY([RequestId])
REFERENCES [dbo].[Requests] ([RequestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PrescribedTests] CHECK CONSTRAINT [FK_PrescribedTests_Requests_RequestId]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Patients_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([PatientId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Patients_PatientId]
GO
